* {
    margin: 0;
    padding: 0;
}

/*
<input type='button' id='btn-log-track' onclick='logTrack({{ track|tojson }})' value='Log Track'>
*/

body {
    background-color: darkred;
    /* background-image: url("route/img"); */
    background-repeat: no-repeat;
    background-size: cover;
}

body, html{
    height: 100vh;
}

.title {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.title>h1 {
    padding: 1rem;
    background-color: saddlebrown;
    border: 0.25rem dashed cornsilk;
}

#options {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#options>li {
    margin: 3rem;
    font-size: 150%;
}

#options>li>a {
    padding: 1.5rem 15vw 1.5rem 15vw;
    border: 0.25rem dashed cornsilk;
    background-color: slateblue;
}

/* All Links */
a { text-decoration: none; }

/* Unvisited Links */
a:link { color: black; }
  
/* Visited Links */
a:visited { color: black; }
  
/* MouseOver Links */
a:hover { color: cornflowerblue; }
  
/* Selected Links */
a:active { color: cornflowerblue; }

#map-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#map {
    /* flex: 1 1 auto; */
    width: 70vw;
    padding-bottom: 10px;
}

#sideStats {
    /* flex: 1 1 auto; */
    color: white;
    background-color: black;
    width: 30vw;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    overflow: scroll;
}
