<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> </head>
        <title>Traveling Salesman Problem</title>
        <script src="../static/js/main.js"></script>
    </head>
    <body style="background-image:url(../static/resources/artificial-intelligence.jpg)">
    <!-- <body style="background-image:url({{url_for('static', filename='artificial-intelligence.jpg')}})"> -->
        <div class="title"><h1>Genetic Algorithms TP3: Traveling Salesman Problem</h1></div>
        <ul id="options">
            <li><a href="http://127.0.0.1:5000/Map/Cordoba" id="opt1">EJERCICIO 1</a></li>
            <li><a href="http://127.0.0.1:5000/Map" id="opt1">EJERCICIO 2</a></li>
            <li><a href="" id="opt1">EJERCICIO 3</a></li>
        </ul>
    </body>
</html>
