<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TSP: Map</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGsPRU6-v05wBr_dfzUj-AkQn3HvpCezk&callback=initMap"
        defer></script>
        <script src="../static/js/mapConfiguration.js" type="text/javascript"></script>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                setFlightPath({{ track|tojson }});
                setMarkers({{ track|tojson }});
            });
        </script>
    </head>
    <body onload='logTrack({{ track|tojson }})'>
        <div id="map-container">
            <div id="map"></div>
            <div id="sideStats"></div>
        </div>
        <script src="../static/js/functions.js" type="text/javascript"></script>
    </body>
</html>
