<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TSP: Map</title>
        <title>Title</title>
        <!-- script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script> -->
        <script src="../static/js/main.js"></script>
    </head>
    <body>
        <h3>Show Map</h3>
        <br>
        <input type='button' onclick='sendCities({{ cities|tojson }})' value='Send Cities'>
    </body>
</html>
